In [54]:
import pandas as pd

# URL del archivo CSV hospedado en GitHub (raw)
url = "https://raw.githubusercontent.com/github/innovationgraph/refs/heads/main/data/repositories.csv"

# Carga directa desde la URL
df = pd.read_csv(url)

# Muestra las primeras filas del DataFrame
print(df.head())
print(df.info())

   repositories iso2_code  year  quarter
0      30669781        US  2020        1
1      20179087        CN  2020        1
2      17912888        EU  2020        1
3       9254535        IN  2020        1
4       4171705        GB  2020        1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4710 entries, 0 to 4709
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   repositories  4710 non-null   int64
 1   iso2_code     4689 non-null   object
 2   year          4710 non-null   int64
 3   quarter       4710 non-null   int64
dtypes: int64(3), object(1)
memory usage: 147.3+ KB
None

In [55]:
print(df.head())

   repositories iso2_code  year  quarter
0      30669781        US  2020        1
1      20179087        CN  2020        1
2      17912888        EU  2020        1
3       9254535        IN  2020        1
4       4171705        GB  2020        1

In [32]:
df.rename(columns={"repositories": "num_repos"}, inplace=True)
df

      num_repos iso2_code  year  quarter
0      30669781        US  2020        1
1      20179087        CN  2020        1
2      17912888        EU  2020        1
3       9254535        IN  2020        1
4       4171705        GB  2020        1
...         ...       ...   ...      ...
4705        151        AQ  2025        1
4706        135        PM  2025        1
4707        117        MH  2025        1
4708        111        MS  2025        1
4709        110        KI  2025        1

[4710 rows x 4 columns]

In [33]:
south_america_iso2 = [
    {"country": "Argentina", "iso2": "AR"},
    {"country": "Bolivia", "iso2": "BO"},
    {"country": "Brazil", "iso2": "BR"},
    {"country": "Chile", "iso2": "CL"},
    {"country": "Colombia", "iso2": "CO"},
    {"country": "Ecuador", "iso2": "EC"},
    {"country": "Guyana", "iso2": "GY"},
    {"country": "Paraguay", "iso2": "PY"},
    {"country": "Peru", "iso2": "PE"},
    {"country": "Suriname", "iso2": "SR"},
    {"country": "Uruguay", "iso2": "UY"},
    {"country": "Venezuela", "iso2": "VE"},
    {"country": "French Guiana", "iso2": "GF"}  # optional
]

In [34]:
# List of South American ISO2 codes
south_america_codes = [
    "AR", "BO", "BR", "CL", "CO", "EC",
    "GY", "PY", "PE", "SR", "UY", "VE", "GF"  # GF optional (French Guiana)
]

# Filter DataFrame
df_south_america = df[df["iso2_code"].isin(south_america_codes)]

# Check result
print(df_south_america.head())

    num_repos iso2_code  year  quarter
5     3602025        BR  2020        1
26     678828        CO  2020        1
31     608445        AR  2020        1
49     356948        PE  2020        1
50     353627        CL  2020        1

In [35]:
# Reorder columns
df = df[["iso2_code", "year", "quarter", "num_repos"]]

print(df.head())

  iso2_code  year  quarter  num_repos
0        US  2020        1   30669781
1        CN  2020        1   20179087
2        EU  2020        1   17912888
3        IN  2020        1    9254535
4        GB  2020        1    4171705

In [36]:
#selecto south america
df[(df["iso2_code"] == "PE") | (df["iso2_code"] == "AR")]

     iso2_code  year  quarter  num_repos
31          AR  2020        1     608445
49          PE  2020        1     356948
244         AR  2020        2     670189
263         PE  2020        2     391794
460         AR  2020        3     737110
480         PE  2020        3     424103
678         AR  2020        4     802976
698         PE  2020        4     456011
898         AR  2021        1     867545
916         PE  2021        1     485312
1118        AR  2021        2     965194
1136        PE  2021        2     527124
1340        AR  2021        3    1070330
1356        PE  2021        3     567869
1563        AR  2021        4    1180271
1580        PE  2021        4     609800
1785        AR  2022        1    1312481
1803        PE  2022        1     652580
2007        AR  2022        2    1514018
2025        PE  2022        2     704939
2231        AR  2022        3    1692345
2247        PE  2022        3     753704
2456        AR  2022        4    1827329
2472        PE  2022        4     805264
2681        AR  2023        1    1972535
2696        PE  2023        1     852209
2908        AR  2023        2    2158627
2923        PE  2023        2     913172
3135        AR  2023        3    2297445
3150        PE  2023        3     969559
3363        AR  2023        4    2456325
3378        PE  2023        4    1021424
3590        AR  2024        1    2557620
3604        PE  2024        1    1070001
3818        AR  2024        2    2695815
3832        PE  2024        2    1138879
4046        AR  2024        3    2816763
4058        PE  2024        3    1207493
4278        AR  2024        4    2910039
4289        PE  2024        4    1280517
4507        AR  2025        1    3003205
4518        PE  2025        1    1336842

In [38]:
df_south_america = df_south_america.sort_values(
    by=["iso2_code", "year", "quarter"],
    ascending=[True, True, True]
)

print(df_south_america.head())

     num_repos iso2_code  year  quarter
31      608445        AR  2020        1
244     670189        AR  2020        2
460     737110        AR  2020        3
678     802976        AR  2020        4
898     867545        AR  2021        1

In [39]:
df_south_america = df[df["iso2_code"].isin("south_america_codes")]
df_south_america

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [40]:
df_south_america = df_south_america[["iso2_code", "year", "quarter", "num_repos"]]

In [20]:
df[["quarter", "year"]] #nos permite ver las variables de la base de datos sin necesidad de chancar

      quarter  year
0           1  2020
1           1  2020
2           1  2020
3           1  2020
4           1  2020
...       ...   ...
4705        1  2025
4706        1  2025
4707        1  2025
4708        1  2025
4709        1  2025

[4710 rows x 2 columns]

In [44]:
df_south_america.colums #para ver el nombre de mis columnas

AttributeError: 'DataFrame' object has no attribute 'colums'

In [45]:
df_south_america.reset_index(inplace = True) #eliminamos datos repetidos 
df_south_america

     index iso2_code  year  quarter  num_repos
0       31        AR  2020        1     608445
1      244        AR  2020        2     670189
2      460        AR  2020        3     737110
3      678        AR  2020        4     802976
4      898        AR  2021        1     867545
..     ...       ...   ...      ...        ...
268   3633        VE  2024        1     321927
269   3862        VE  2024        2     339253
270   4091        VE  2024        3     353254
271   4322        VE  2024        4     362967
272   4551        VE  2025        1     380857

[273 rows x 5 columns]

In [47]:
df_south_america.drop("index",axis = 1, inplace = True)#eliminar la columna index

KeyError: "['index'] not found in axis"

In [48]:
df_south_america = df_south_america.sort_values(
by= ["iso2_code", "year", "quarter"])

In [ ]:
## Balancear la data se entiende por llenar los vacios para que se tener la data completa

In [49]:
df_south_america.iso2_code.nunique () #voy a ver el numero de observaciones q tengo

13

In [53]:
df_south_america.year.nunique ()

6

In [51]:
df_south_america.quarter.nunique ()

4

In [ ]:
#tengo 273 observaciones cuando deberia tener 13*6*4 =312. Puedo seleccionar columnas con punto o corchetes

In [52]:
df_south_america.shape

(273, 4)

In [62]:
pip install python-docx

Collecting python-docx
  Obtaining dependency information for python-docx from https://files.pythonhosted.org/packages/d0/00/1e03a4989fa5795da308cd774f05b704ace555a70f9bf9d3be057b680bcf/python_docx-1.2.0-py3-none-any.whl.metadata
  Downloading python_docx-1.2.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in c:\users\kikema\anaconda3\lib\site-packages (from python-docx) (4.9.3)
Collecting typing_extensions>=4.9.0 (from python-docx)
  Obtaining dependency information for typing_extensions>=4.9.0 from https://files.pythonhosted.org/packages/b5/00/d631e67a838026495268c2f6884f3711a15a9a2a96cd244fdaea53b823fb/typing_extensions-4.14.1-py3-none-any.whl.metadata
  Downloading typing_extensions-4.14.1-py3-none-any.whl.metadata (3.0 kB)
Downloading python_docx-1.2.0-py3-none-any.whl (252 kB)
   ---------------------------------------- 0.0/253.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/253.0 kB ? eta -:--:--
   ------------------- -------------------- 122.9/253.0 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 253.0/253.0 kB 2.6 MB/s eta 0:00:00
Downloading typing_extensions-4.14.1-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/43.9 kB ? eta -:--:--
   ---------------------------------------- 43.9/43.9 kB 2.1 MB/s eta 0:00:00
Installing collected packages: typing_extensions, python-docx
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
Successfully installed python-docx-1.2.0 typing_extensions-4.14.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from docx import Document

# Create a new Word document
doc = Document()
doc.add_heading('Balanced GitHub Repos Data (South America)', level=1)

# Add a table with the DataFrame content
table = doc.add_table(rows=1, cols=len(balanced.columns))

# Add header row
hdr_cells = table.rows[0].cells
for i, col_name in enumerate(balanced.columns):
    hdr_cells[i].text = str(col_name)

# Add data rows
for row in balanced.itertuples(index=False):
    row_cells = table.add_row().cells
    for i, value in enumerate(row):
        row_cells[i].text = str(value)

# Save the document
doc.save("../_data/github_repos_data_2020_2015_sa.docx")

In [61]:
balanced.to_csv( " ../_data/github_repo_data_2020_2025_sa.csv " )

NameError: name 'balanced' is not defined

In [56]:
pwd #saber donde lo guardamos

'C:\\Users\\KikeMa\\Downloads\\Azu\\diplomado\\python\\Ejercicios clase\\Diplomado-2025-python\\Diplomado_PUCP\\Lecture_3'