In [122]:
import pandas as pd
import numpy as np

# 1. Configuración de directorio de trabajo e importación del conjunto de datos Enaho01A-2023-300.csv usando Pandas

In [123]:
pwd

'C:\\Users\\Eduio\\OneDrive - pucp.edu.pe\\Documentos\\GitHub\\Diplomado_PUCP_Python_2025-1\\Tarea_2'

In [124]:
data = pd.read_csv("./ENAHO-2023/Enaho01A-2023-300.csv", encoding="ISO-8859-10")
data

C:\Users\Eduio\AppData\Local\Temp\ipykernel_18132\1535611862.py:1: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./ENAHO-2023/Enaho01A-2023-300.csv", encoding="ISO-8859-10")

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108349,2023,12,20670,67,11,5,10503,4,8,2,...,,,,,,,65.991585,76.758545,7051,0
108350,2023,12,20670,68,11,1,10503,4,8,1,...,,,,,,,65.991585,94.397972,7051,0
108351,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,,,65.991585,54.246708,7051,0
108352,2023,12,20670,69,11,2,10503,4,8,2,...,,,,,,,65.991585,69.487373,7051,0
108353,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,,,65.991585,94.397972,7051,0

In [125]:
#Mostramos las primeras 5 filas
print (data.head())

    AŅO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030         2     11         3   10201        7        4
3  2023    1      5030         2     11         4   10201        7        4
4  2023    1      5030        11     11         1   10201        7        4

   CODINFOR  ...  I311D$5  I311D$6  I311D$7  I3121C I3122C I315B    FACTOR07  \
0         1  ...                                                  118.374542
1         2  ...                                                  118.374542
2         2  ...                                                  118.374542
3         2  ...                          8                       118.374542
4         1  ...                                                  118.374542

    FACTORA07 NCONGLOME SUB_CONGLOME
0  165.623856      6618            0
1  112.328087      6618            0
2  120.091476      6618            0
3  110.974678      6618            0
4   96.035370      6618            0

[5 rows x 511 columns]

In [126]:
#Convertimos en lista el nombre de las columnas
print(data.columns.tolist())

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

In [127]:
#Verificamos los tipos de datos del DF
data.dtypes

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

In [128]:
#Seleccionamos una muestra
subdata=data[['CONGLOME','VIVIENDA','HOGAR','CODPERSO','P300A','P302X','P307']]
subdata

### P300A - ¿Cuál es el Idioma o lengua materna que aprendió en su niñez? 
### P302X - ¿Sabe leer y escribir?
### P307 - Actualmente, ¿Asiste a algún centro o programa de educación básica o superior?

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  P300A P302X P307
0           5030         2     11         1      4
1           5030         2     11         2      4
2           5030         2     11         3      4
3           5030         2     11         4      8
4           5030        11     11         1      4
...          ...       ...    ...       ...    ...   ...  ...
108349     20670        67     11         5      4
108350     20670        68     11         1      4
108351     20670        69     11         1      4     1
108352     20670        69     11         2      4
108353     20670        69     11         3      4

[108354 rows x 7 columns]

# 2. Manipulación de datos (limpieza de datos)

In [129]:
# Hacemos el summary
subdata.describe(include='all')

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,P300A,P302X,P307
count,108354.000000,108354.000000,108354.000000,108354.000000,108354.000000,108354,108354
unique,NaN,NaN,NaN,NaN,NaN,4,3
top,NaN,NaN,NaN,NaN,NaN,,
freq,NaN,NaN,NaN,NaN,NaN,93236,77350
mean,16944.756797,77.820330,11.146271,2.546293,3.710477,NaN,NaN
std,3144.386733,68.547022,1.370084,1.577737,3.296774,NaN,NaN
min,5007.000000,1.000000,11.000000,1.000000,1.000000,NaN,NaN
25%,16028.000000,31.000000,11.000000,1.000000,4.000000,NaN,NaN
50%,17500.000000,66.000000,11.000000,2.000000,4.000000,NaN,NaN
75%,19014.000000,106.000000,11.000000,3.000000,4.000000,NaN,NaN
max,21001.000000,991.000000,44.000000,22.000000,99.000000,NaN,NaN

In [130]:
#Removemos los NA´s
subdata.isnull().sum()
subdata_clean = subdata.dropna()
subdata_clean

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  P300A P302X P307
0           5030         2     11         1      4
1           5030         2     11         2      4
2           5030         2     11         3      4
3           5030         2     11         4      8
4           5030        11     11         1      4
...          ...       ...    ...       ...    ...   ...  ...
108349     20670        67     11         5      4
108350     20670        68     11         1      4
108351     20670        69     11         1      4     1
108352     20670        69     11         2      4
108353     20670        69     11         3      4

[108354 rows x 7 columns]

# 3. Importar dataset de Trabajo (500) y exploración de datos

In [131]:
trabajo = pd.read_csv("./ENAHO-2023/Enaho01A-2023-500.csv", encoding="ISO-8859-10")
trabajo

C:\Users\Eduio\AppData\Local\Temp\ipykernel_18132\3240309356.py:1: DtypeWarning: Columns (218,223,228,231,234,235,236,241,246,251,256,261,266,271,276,281,286,291,296,301,306,311,316,321,326,331,338,341,344,347,350,353,356,359,363,365,367,369,371,373,375,377,379,381,385,386,387,388,389,393,485,486,487,488,935,936,937,938,939,940,941,942,943,944,1015,1018,1023) have mixed types. Specify dtype option on import or set low_memory=False.
  trabajo = pd.read_csv("./ENAHO-2023/Enaho01A-2023-500.csv", encoding="ISO-8859-10")

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I538E1,I5294B,I5404B,I541A,OCU500,OCUPINF,EMPLPSEC,FAC500A,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,1,2,,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,1,2,,112.328087,6618,0
2,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,1,1,1,96.035370,6618,0
3,2023,1,5030,11,11,2,10201,7,4,2,...,,,,,1,1,1,86.868881,6618,0
4,2023,1,5030,11,11,3,10201,7,4,3,...,,,,,1,1,1,185.492355,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86649,2023,12,20670,67,11,2,10503,4,8,2,...,,,,,1,1,1,52.368996,7051,0
86650,2023,12,20670,68,11,1,10503,4,8,1,...,708,,,,1,1,1,94.397972,7051,0
86651,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,1,1,1,54.246708,7051,0
86652,2023,12,20670,69,11,2,10503,4,8,2,...,,,,,1,1,1,69.487373,7051,0
86653,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,1,1,1,94.397972,7051,0

In [132]:
#Mostramos las primeras 5 filas
print (trabajo.head())

    AŅO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030        11     11         1   10201        7        4
3  2023    1      5030        11     11         2   10201        7        4
4  2023    1      5030        11     11         3   10201        7        4

   CODINFOR  ...  I538E1  I5294B  I5404B  I541A  OCU500  OCUPINF  EMPLPSEC  \
0         1  ...                                      1        2
1         2  ...                                      1        2
2         1  ...                                      1        1         1
3         2  ...                                      1        1         1
4         3  ...                                      1        1         1

      FAC500A  NCONGLOME SUB_CONGLOME
0  165.623856       6618            0
1  112.328087       6618            0
2   96.035370       6618            0
3   86.868881       6618            0
4  185.492355       6618            0

[5 rows x 1414 columns]

In [133]:
#Convertimos en lista el nombre de las columnas
print(trabajo.columns.tolist())

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P500A', 'P500B', 'P500B1', 'P500C', 'P500D', 'P500D1', 'P500N', 'P500I', 'P501', 'P502', 'P503', 'P504', 'P5041', 'P5042', 'P5043', 'P5044', 'P5045', 'P5046', 'P5047', 'P5048', 'P5049', 'P50410', 'P50411', 'P505', 'P505R4', 'P505B', 'P506', 'P506R4', 'P507', 'P508', 'P509', 'P510', 'P510A1', 'P510B', 'P5111', 'P5112', 'P5113', 'P5114', 'P5115', 'P5116', 'P5117', 'P5118', 'P5119', 'P51110', 'P51111', 'P51112', 'P511A', 'P512A', 'P512B', 'P513', 'P513A', 'P513B', 'P513C', 'P513D', 'P513E', 'P513F', 'P513G', 'P513T', 'P513A1', 'P513A2', 'P514', 'P5151', 'P5152', 'P5153', 'P5154', 'P5155', 'P5156', 'P5157', 'P5158', 'P5159', 'P51510', 'P51511', 'P516', 'P516R4', 'P517', 'P517A', 'P517B1', 'P517C', 'P517D1', 'P517D2', 'P518', 'P519', 'P520', 'P520A', 'P521', 'P521A', 'P521B', 'P521B1', 'P521C', 'P521D', 'P523', 'P524A1', 'P524A2', 'P524B1', 'P524B2', 'P524C1', 'P524C2', 'P524D1', 'P524D2', 'P524E1', 'P524E2', 'P528', 'P5291A', 'P5291B', 'P5291C', 'P5292A', 'P5292B', 'P5292C', 'P5293A', 'P5293B', 'P5293C', 'P5294A', 'P5294B', 'P5294C', 'P5295A', 'P5295B', 'P5295C', 'P5296A', 'P5296B', 'P5296C', 'P529T', 'P5297A', 'P530A', 'P530B', 'P535', 'P536', 'P5371', 'P5372', 'P5373', 'P5374', 'P5375', 'P5376', 'P5377', 'P5378', 'P5379', 'P53710', 'P53711', 'P53712', 'P538A1', 'P538A2', 'P538B1', 'P538B2', 'P538C1', 'P538C2', 'P538D1', 'P538D2', 'P538E1', 'P538E2', 'P539', 'P5401A', 'P5401B', 'P5401C', 'P5402A', 'P5402B', 'P5402C', 'P5403A', 'P5403B', 'P5403C', 'P5404A', 'P5404B', 'P5404C', 'P5405A', 'P5405B', 'P5405C', 'P5406A', 'P5406B', 'P5406C', 'P540T', 'P5407A', 'P541A', 'P541B', 'P542', 'P543', 'P5441A', 'P5441B', 'P5442A', 'P5442B', 'P5443A', 'P5443B', 'P5444A', 'P5444B', 'P5445A', 'P5445B', 'P5446A', 'P5446B', 'P5447A', 'P5447B', 'P5448A', 'P5448B', 'P544T', 'P545', 'P546', 'P547', 'P548', 'P549', 'P550_1', 'P550_2', 'P550_3', 'P550_4', 'P550_5', 'P550_6', 'P550_7', 'P550_GI', 'P551', 'P552', 'P554', 'P554R4', 'P555', 'P5561A', 'P5561B', 'P5561C', 'P5561D', 'P5561E', 'P5562A', 'P5562B', 'P5562C', 'P5562D', 'P5562E', 'P5563A', 'P5563B', 'P5563C', 'P5563C1', 'P5563D', 'P5563E', 'P5563F', 'P5563G', 'P5564A', 'P5564B', 'P5564C', 'P5564D', 'P5564E', 'P5565A', 'P5565B', 'P5565C', 'P5565D', 'P5565E', 'P5566A', 'P5566B', 'P5566C', 'P5566D', 'P5566E', 'P5567A', 'P5567B', 'P5567C', 'P5567D', 'P5567E', 'P5568A', 'P5568B', 'P5568C', 'P5568D', 'P5568E', 'P5569A', 'P5569B', 'P5569C', 'P5569D', 'P5569E', 'P55610A', 'P55610B', 'P55610C', 'P55610D', 'P55610E', 'P55611A', 'P55611B', 'P55611C', 'P55611D', 'P55611E', 'P55612A', 'P55612B', 'P55612C', 'P55612D', 'P55612E', 'P55613A', 'P55613B', 'P55613C', 'P55613D', 'P55613E', 'P55614A', 'P55614B', 'P55614C', 'P55614D', 'P55614E', 'P55620A', 'P55620B', 'P55620C', 'P55620D', 'P55620E', 'P55621A', 'P55621B', 'P55621C', 'P55621D', 'P55621E', 'P55622A', 'P55622B', 'P55622C', 'P55622D', 'P55622E', 'P55623A', 'P55623B', 'P55623C', 'P55623D', 'P55623E', 'P55624A', 'P55624B', 'P55624C', 'P55624D', 'P55624E', 'P55625A', 'P55625B', 'P55625C', 'P55625D', 'P55625E', 'P55626A', 'P55626B', 'P55626C', 'P55626D', 'P55626E', 'P55627A', 'P55627B', 'P55627C', 'P55627D', 'P55627E', 'P55628A', 'P55628B', 'P55628C', 'P55628D', 'P55628E', 'P556T1', 'P556T2', 'P5571A', 'P5571B', 'P5571C', 'P5572A', 'P5572B', 'P5572C', 'P5573A', 'P5573B', 'P5573C', 'P5574A', 'P5574B', 'P5574C', 'P5575A', 'P5575B', 'P5575C', 'P5576A', 'P5576B', 'P5576C', 'P5577A', 'P5577B', 'P5577C', 'P5578A', 'P5578B', 'P5578C', 'P557T', 'P5581A', 'P5581B', 'P5582A', 'P5582B', 'P5583A', 'P5583B', 'P5584A', 'P5584B', 'P5585A', 'P5585B', 'P5586A', 'P5586B', 'P5587A', 'P5587B', 'P5588A', 'P5588B', 'P5589A', 'P5589B', 'P55810A', 'P55810B', 'P558T', 'P558T1', 'P558A1', 'P558A2', 'P558A3', 'P558A4', 'P558A5', 'P558B1', 'P558B2', 'P558B3', 'P558C', 'P558D2_1', 'P558D2_2', 'P558E1_1', 'P558E1_2', 'P558E1_3', 'P558E1_6', 'P558E1_7', 'P558E2_1', 'P558E3_1', 'P558E2_2', 'P558E3_2', 'P558F1A', 'P558F1B', 'P558G1', 'P558G2', 'P558G3', 'P558G5', 'P558G6', 'P558G7', 'P558H1_1', 'P558H1_2', 'P558H1_3', 'P558H1_4', 'P558H1_5', 'P558H1_6', 'P558H2_1', 'P558H2_2', 'P558H2_3', 'P558H2_4', 'P558H2_5', 'P558H2_6', 'P558H3_1', 'P558H3_2', 'P558H3_3', 'P558H3_4', 'P558H3_5', 'P558H3_6', 'P558H4_1', 'P558H4_2', 'P558H4_3', 'P558H4_4', 'P558H4_5', 'P558H4_6', 'P558H5_1', 'P558H5_2', 'P558H5_3', 'P558H5_4', 'P558H5_5', 'P558H5_6', 'P558H6_1', 'P558H6_2', 'P558H6_3', 'P558H6_4', 'P558H6_5', 'P558H6_6', 'P558H7_1', 'P558H7_2', 'P558H7_3', 'P558H7_4', 'P558H7_5', 'P558H7_6', 'P558H8_1', 'P558H8_2', 'P558H8_3', 'P558H8_4', 'P558H8_5', 'P558H8_6', 'P558H9_1', 'P558H9_2', 'P558H9_3', 'P558H9_4', 'P558H9_5', 'P558H9_6', 'P558H10_1', 'P558H10_2', 'P558H10_3', 'P558H10_4', 'P558H10_5', 'P558H10_6', 'P558H11_1', 'P558H11_2', 'P558H11_3', 'P558H11_4', 'P558H11_5', 'P558H11_6', 'P558H12_1', 'P558H12_2', 'P558H12_3', 'P558H12_4', 'P558H12_5', 'P558H12_6', 'P559$01', 'P559$02', 'P559$03', 'P559$04', 'P559$05', 'P559$06', 'P559$07', 'P559$08', 'P559$09', 'P559$10', 'P559$11', 'P559$12', 'P559$13', 'P559$14', 'P559$15', 'P559$16', 'P559$17', 'P559$18', 'P559$19', 'P559$20', 'P559$21', 'P559$22', 'P559$23', 'P559$24', 'P559$25', 'P559$26', 'P559$27', 'P559$28', 'P559$29', 'P559$30', 'P559$31', 'P559$32', 'P559$33', 'P559$34', 'P559$35', 'P559$36', 'P559$37', 'P559$38', 'P559$39', 'P559$40', 'P559$41', 'P559$42', 'P559$43', 'P559$44', 'P559$45', 'P559$46', 'P559$47', 'P559$48', 'P559$49', 'P559$50', 'P559T$01', 'P559T$02', 'P559T$03', 'P559T$04', 'P559T$05', 'P559T$06', 'P559T$07', 'P559T$08', 'P559T$09', 'P559T$10', 'P559T$11', 'P559T$12', 'P559T$13', 'P559T$14', 'P559T$15', 'P559T$16', 'P559T$17', 'P559T$18', 'P559T$19', 'P559T$20', 'P559T$21', 'P559T$22', 'P559T$23', 'P559T$24', 'P559T$25', 'P559T$26', 'P559T$27', 'P559T$28', 'P559T$29', 'P559T$30', 'P559T$31', 'P559T$32', 'P559T$33', 'P559T$34', 'P559T$35', 'P559T$36', 'P559T$37', 'P559T$38', 'P559T$39', 'P559T$40', 'P559T$41', 'P559T$42', 'P559T$43', 'P559T$44', 'P559T$45', 'P559T$46', 'P559T$47', 'P559T$48', 'P559T$49', 'P559T$50', 'P559A$01', 'P559A$02', 'P559A$03', 'P559A$04', 'P559A$05', 'P559A$06', 'P559A$07', 'P559A$08', 'P559A$09', 'P559A$10', 'P559A$11', 'P559A$12', 'P559A$13', 'P559A$14', 'P559A$15', 'P559A$16', 'P559A$17', 'P559A$18', 'P559A$19', 'P559A$20', 'P559A$21', 'P559A$22', 'P559A$23', 'P559A$24', 'P559A$25', 'P559A$26', 'P559A$27', 'P559A$28', 'P559A$29', 'P559A$30', 'P559A$31', 'P559A$32', 'P559A$33', 'P559A$34', 'P559A$35', 'P559A$36', 'P559A$37', 'P559A$38', 'P559A$39', 'P559A$40', 'P559A$41', 'P559A$42', 'P559A$43', 'P559A$44', 'P559A$45', 'P559A$46', 'P559A$47', 'P559A$48', 'P559A$49', 'P559A$50', 'P559B$01', 'P559B$02', 'P559B$03', 'P559B$04', 'P559B$05', 'P559B$06', 'P559B$07', 'P559B$08', 'P559B$09', 'P559B$10', 'P559B$11', 'P559B$12', 'P559B$13', 'P559B$14', 'P559B$15', 'P559B$16', 'P559B$17', 'P559B$18', 'P559B$19', 'P559B$20', 'P559B$21', 'P559B$22', 'P559B$23', 'P559B$24', 'P559B$25', 'P559B$26', 'P559B$27', 'P559B$28', 'P559B$29', 'P559B$30', 'P559B$31', 'P559B$32', 'P559B$33', 'P559B$34', 'P559B$35', 'P559B$36', 'P559B$37', 'P559B$38', 'P559B$39', 'P559B$40', 'P559B$41', 'P559B$42', 'P559B$43', 'P559B$44', 'P559B$45', 'P559B$46', 'P559B$47', 'P559B$48', 'P559B$49', 'P559B$50', 'P559C$01', 'P559C$02', 'P559C$03', 'P559C$04', 'P559C$05', 'P559C$06', 'P559C$07', 'P559C$08', 'P559C$09', 'P559C$10', 'P559C$11', 'P559C$12', 'P559C$13', 'P559C$14', 'P559C$15', 'P559C$16', 'P559C$17', 'P559C$18', 'P559C$19', 'P559C$20', 'P559C$21', 'P559C$22', 'P559C$23', 'P559C$24', 'P559C$25', 'P559C$26', 'P559C$27', 'P559C$28', 'P559C$29', 'P559C$30', 'P559C$31', 'P559C$32', 'P559C$33', 'P559C$34', 'P559C$35', 'P559C$36', 'P559C$37', 'P559C$38', 'P559C$39', 'P559C$40', 'P559C$41', 'P559C$42', 'P559C$43', 'P559C$44', 'P559C$45', 'P559C$46', 'P559C$47', 'P559C$48', 'P559C$49', 'P559C$50', 'P559D$01', 'P559D$02', 'P559D$03', 'P559D$04', 'P559D$05', 'P559D$06', 'P559D$07', 'P559D$08', 'P559D$09', 'P559D$10', 'P559D$11', 'P559D$12', 'P559D$13', 'P559D$14', 'P559D$15', 'P559D$16', 'P559D$17', 'P559D$18', 'P559D$19', 'P559D$20', 'P559D$21', 'P559D$22', 'P559D$23', 'P559D$24', 'P559D$25', 'P559D$26', 'P559D$27', 'P559D$28', 'P559D$29', 'P559D$30', 'P559D$31', 'P559D$32', 'P559D$33', 'P559D$34', 'P559D$35', 'P559D$36', 'P559D$37', 'P559D$38', 'P559D$39', 'P559D$40', 'P559D$41', 'P559D$42', 'P559D$43', 'P559D$44', 'P559D$45', 'P559D$46', 'P559D$47', 'P559D$48', 'P559D$49', 'P559D$50', 'P559E$01', 'P559E$02', 'P559E$03', 'P559E$04', 'P559E$05', 'P559E$06', 'P559E$07', 'P559E$08', 'P559E$09', 'P559E$10', 'P559E$11', 'P559E$12', 'P559E$13', 'P559E$14', 'P559E$15', 'P559E$16', 'P559E$17', 'P559E$18', 'P559E$19', 'P559E$20', 'P559E$21', 'P559E$22', 'P559E$23', 'P559E$24', 'P559E$25', 'P559E$26', 'P559E$27', 'P559E$28', 'P559E$29', 'P559E$30', 'P559E$31', 'P559E$32', 'P559E$33', 'P559E$34', 'P559E$35', 'P559E$36', 'P559E$37', 'P559E$38', 'P559E$39', 'P559E$40', 'P559E$41', 'P559E$42', 'P559E$43', 'P559E$44', 'P559E$45', 'P559E$46', 'P559E$47', 'P559E$48', 'P559E$49', 'P559E$50', 'P59F1$01', 'P59F1$02', 'P59F1$03', 'P59F1$04', 'P59F1$05', 'P59F1$06', 'P59F1$07', 'P59F1$08', 'P59F1$09', 'P59F1$10', 'P59F1$11', 'P59F1$12', 'P59F1$13', 'P59F1$14', 'P59F1$15', 'P59F1$16', 'P59F1$17', 'P59F1$18', 'P59F1$19', 'P59F1$20', 'P59F1$21', 'P59F1$22', 'P59F1$23', 'P59F1$24', 'P59F1$25', 'P59F1$26', 'P59F1$27', 'P59F1$28', 'P59F1$29', 'P59F1$30', 'P59F1$31', 'P59F1$32', 'P59F1$33', 'P59F1$34', 'P59F1$35', 'P59F1$36', 'P59F1$37', 'P59F1$38', 'P59F1$39', 'P59F1$40', 'P59F1$41', 'P59F1$42', 'P59F1$43', 'P59F1$44', 'P59F1$45', 'P59F1$46', 'P59F1$47', 'P59F1$48', 'P59F1$49', 'P59F1$50', 'P59F2$01', 'P59F2$02', 'P59F2$03', 'P59F2$04', 'P59F2$05', 'P59F2$06', 'P59F2$07', 'P59F2$08', 'P59F2$09', 'P59F2$10', 'P59F2$11', 'P59F2$12', 'P59F2$13', 'P59F2$14', 'P59F2$15', 'P59F2$16', 'P59F2$17', 'P59F2$18', 'P59F2$19', 'P59F2$20', 'P59F2$21', 'P59F2$22', 'P59F2$23', 'P59F2$24', 'P59F2$25', 'P59F2$26', 'P59F2$27', 'P59F2$28', 'P59F2$29', 'P59F2$30', 'P59F2$31', 'P59F2$32', 'P59F2$33', 'P59F2$34', 'P59F2$35', 'P59F2$36', 'P59F2$37', 'P59F2$38', 'P59F2$39', 'P59F2$40', 'P59F2$41', 'P59F2$42', 'P59F2$43', 'P59F2$44', 'P59F2$45', 'P59F2$46', 'P59F2$47', 'P59F2$48', 'P59F2$49', 'P59F2$50', 'P560T$01', 'P560T$02', 'P560T$03', 'P560T$04', 'P560T$05', 'P560T$06', 'P560T$07', 'P560T$08', 'P560T$09', 'P560T$10', 'P560A1$01', 'P560A1$02', 'P560A1$03', 'P560A1$04', 'P560A1$05', 'P560A1$06', 'P560A1$07', 'P560A1$08', 'P560A1$09', 'P560A1$10', 'P560A$01', 'P560A$02', 'P560A$03', 'P560A$04', 'P560A$05', 'P560A$06', 'P560A$07', 'P560A$08', 'P560A$09', 'P560A$10', 'P560C$01', 'P560C$02', 'P560C$03', 'P560C$04', 'P560C$05', 'P560C$06', 'P560C$07', 'P560C$08', 'P560C$09', 'P560C$10', 'P560D$01', 'P560D$02', 'P560D$03', 'P560D$04', 'P560D$05', 'P560D$06', 'P560D$07', 'P560D$08', 'P560D$09', 'P560D$10', 'P560E$01', 'P560E$02', 'P560E$03', 'P560E$04', 'P560E$05', 'P560E$06', 'P560E$07', 'P560E$08', 'P560E$09', 'P560E$10', 'P560F1$01', 'P560F1$02', 'P560F1$03', 'P560F1$04', 'P560F1$05', 'P560F1$06', 'P560F1$07', 'P560F1$08', 'P560F1$09', 'P560F1$10', 'P560F2$01', 'P560F2$02', 'P560F2$03', 'P560F2$04', 'P560F2$05', 'P560F2$06', 'P560F2$07', 'P560F2$08', 'P560F2$09', 'P560F2$10', 'P599', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'P301A', 'IMPUTADO', 'TICUEST01A', 'D524A1', 'D524B1', 'D524C1', 'D524D1', 'D524E1', 'D5291B', 'D5292B', 'D5293B', 'D5294B', 'D5295B', 'D5296B', 'D529T', 'D530A', 'D536', 'D538A1', 'D538B1', 'D538C1', 'D538D1', 'D538E1', 'D5401B', 'D5402B', 'D5403B', 'D5404B', 'D5405B', 'D5406B', 'D540T', 'D541A', 'D543', 'D5441B', 'D5442B', 'D5443B', 'D5444B', 'D5445B', 'D5446B', 'D5447B', 'D5448B', 'D544T', 'D5561C', 'D5561E', 'D5562C', 'D5562E', 'D5563C', 'D5563E', 'D5564C', 'D5564E', 'D5565C', 'D5565E', 'D5566C', 'D5566E', 'D5567C', 'D5567E', 'D5568C', 'D5568E', 'D5569C', 'D5569E', 'D55610C', 'D55610E', 'D55611C', 'D55611E', 'D55612C', 'D55612E', 'D55613C', 'D55613E', 'D55614C', 'D55614E', 'D55620C', 'D55620E', 'D55621C', 'D55621E', 'D55622C', 'D55622E', 'D55623C', 'D55623E', 'D55624C', 'D55624E', 'D55625C', 'D55625E', 'D55626C', 'D55626E', 'D55627C', 'D55627E', 'D55628C', 'D55628E', 'D556T1', 'D556T2', 'D5571C', 'D5572C', 'D5573C', 'D5574C', 'D5575C', 'D5576C', 'D5577C', 'D5578C', 'D557T', 'D558T', 'D559D1', 'D559D2', 'D559D3', 'D559D41', 'D559D42', 'D559D43', 'D559D44', 'D559D45', 'D559D46', 'D559D47', 'D559D48', 'D559D49', 'D559D410', 'D559D411', 'D559D412', 'D559D413', 'D559D414', 'D559D415', 'D559D416', 'D559D417', 'D559D418', 'D559D419', 'D559D420', 'D559D421', 'D559D422', 'D559D423', 'D559D424', 'D559D425', 'D559D426', 'D559D427', 'D559D428', 'D559D429', 'D559D430', 'D559D431', 'D559D432', 'D559D433', 'D559D434', 'D559D435', 'D559D436', 'D559D437', 'D559D438', 'D559D439', 'D559D440', 'D559D441', 'D559D442', 'D559D443', 'D559D444', 'D559D445', 'D559D446', 'D559D447', 'D560D1', 'D560D2', 'D560D3', 'D560D4', 'D560D5', 'D560D6', 'D560D7', 'D560D8', 'D560D9', 'D560D10', 'T559B$01', 'T559B$02', 'T559B$03', 'T559B$04', 'T559B$05', 'T559B$06', 'T559B$07', 'T559B$08', 'T559B$09', 'T559B$10', 'T559B$11', 'T559B$12', 'T559B$13', 'T559B$14', 'T559B$15', 'T559B$16', 'T559B$17', 'T559B$18', 'T559B$19', 'T559B$20', 'T559B$21', 'T559B$22', 'T559B$23', 'T559B$24', 'T559B$25', 'T559B$26', 'T559B$27', 'T559B$28', 'T559B$29', 'T559B$30', 'T559B$31', 'T559B$32', 'T559B$33', 'T559B$34', 'T559B$35', 'T559B$36', 'T559B$37', 'T559B$38', 'T559B$39', 'T559B$40', 'T559B$41', 'T559B$42', 'T559B$43', 'T559B$44', 'T559B$45', 'T559B$46', 'T559B$47', 'T559B$48', 'T559B$49', 'T559B$50', 'Z559B$01', 'Z559B$02', 'Z559B$03', 'Z559B$04', 'Z559B$05', 'Z559B$06', 'Z559B$07', 'Z559B$08', 'Z559B$09', 'Z559B$10', 'Z559B$11', 'Z559B$12', 'Z559B$13', 'Z559B$14', 'Z559B$15', 'Z559B$16', 'Z559B$17', 'Z559B$18', 'Z559B$19', 'Z559B$20', 'Z559B$21', 'Z559B$22', 'Z559B$23', 'Z559B$24', 'Z559B$25', 'Z559B$26', 'Z559B$27', 'Z559B$28', 'Z559B$29', 'Z559B$30', 'Z559B$31', 'Z559B$32', 'Z559B$33', 'Z559B$34', 'Z559B$35', 'Z559B$36', 'Z559B$37', 'Z559B$38', 'Z559B$39', 'Z559B$40', 'Z559B$41', 'Z559B$42', 'Z559B$43', 'Z559B$44', 'Z559B$45', 'Z559B$46', 'Z559B$47', 'Z559B$48', 'Z559B$49', 'Z559B$50', 'I559D1', 'I559D2', 'I559D3', 'I559D41', 'I559D42', 'I559D43', 'I559D44', 'I559D45', 'I559D46', 'I559D47', 'I559D48', 'I559D49', 'I559D410', 'I559D411', 'I559D412', 'I559D413', 'I559D414', 'I559D415', 'I559D416', 'I559D417', 'I559D418', 'I559D419', 'I559D420', 'I559D421', 'I559D422', 'I559D423', 'I559D424', 'I559D425', 'I559D426', 'I559D427', 'I559D428', 'I559D429', 'I559D430', 'I559D431', 'I559D432', 'I559D433', 'I559D434', 'I559D435', 'I559D436', 'I559D437', 'I559D438', 'I559D439', 'I559D440', 'I559D441', 'I559D442', 'I559D443', 'I559D444', 'I559D445', 'I559D446', 'I559D447', 'I560D1', 'I560D2', 'I560D3', 'I560D4', 'I560D5', 'I560D6', 'I560D7', 'I560D8', 'I560D9', 'I560D10', 'R559_01', 'R559_02', 'R559_03', 'R559_04', 'R559_05', 'R559_06', 'R559_07', 'R559_08', 'R559_09', 'R559_10', 'R559_11', 'R559_12', 'R559_13', 'R559_14', 'R559_15', 'R559_16', 'R559_17', 'R559_18', 'R559_19', 'R559_20', 'R559_21', 'R559_22', 'R559_23', 'R559_24', 'R559_25', 'R559_26', 'R559_27', 'R559_28', 'R559_29', 'R559_30', 'R559_31', 'R559_32', 'R559_33', 'R559_34', 'R559_35', 'R559_36', 'R559_37', 'R559_38', 'R559_39', 'R559_40', 'R559_41', 'R559_42', 'R559_43', 'R559_44', 'R559_45', 'R559_46', 'R559_47', 'R559_48', 'R559_49', 'R559_50', 'I518', 'I513T', 'I520', 'I530A', 'I524A1', 'I524B1', 'I524C1', 'I524D1', 'I524E1', 'I538A1', 'I538B1', 'I538C1', 'I538D1', 'I538E1', 'I5294B', 'I5404B', 'I541A', 'OCU500', 'OCUPINF', 'EMPLPSEC', 'FAC500A', 'NCONGLOME', 'SUB_CONGLOME']

In [134]:
#Observamos el tipo de datos
print(trabajo.dtypes)

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
OCUPINF          object
EMPLPSEC         object
FAC500A         float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 1414, dtype: object

In [186]:
#Seleccionamos una muestra
sub_trabajo=trabajo[['CONGLOME','VIVIENDA','HOGAR','CODPERSO','P501','P507','P513T']]
sub_trabajo

### P501 - La semana pasada, del ... al ..., ¿Tuvo Ud. algún trabajo? (Sin contar los quehaceres del hogar)
### P507 - Ud. se desempeño en su ocupación principal o negocio como:
### P513T - ¿Cuántas horas trabajó la semana pasada, en su ocupación principal, el día: Total

       CONGLOME  VIVIENDA  HOGAR  CODPERSO  P501 P507 P513T
0          5030         2     11         1     1    4    28
1          5030         2     11         2     1    2    78
2          5030        11     11         1     1    2    84
3          5030        11     11         2     1    5    84
4          5030        11     11         3     1    2    12
...         ...       ...    ...       ...   ...  ...   ...
86649     20670        67     11         2     1    5    36
86650     20670        68     11         1     1    1    45
86651     20670        69     11         1     1    2    40
86652     20670        69     11         2     1    5    45
86653     20670        69     11         3     1    4    32

[86654 rows x 7 columns]

In [187]:
#A. Cambiar el tipo de datos de una variable (por ejemplo, de texto a numérico).
print(sub_trabajo['P513T'].dtype)

object

In [188]:
sub_trabajo['P513T'] = pd.to_numeric(sub_trabajo['P513T'], errors='coerce').fillna(0).astype(int)

C:\Users\Eduio\AppData\Local\Temp\ipykernel_18132\4149916782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_trabajo['P513T'] = pd.to_numeric(sub_trabajo['P513T'], errors='coerce').fillna(0).astype(int)

In [189]:
print(sub_trabajo['P513T'].dtype)
#Ahora la variable es numérica (tipo float)

int32

In [190]:
#B. Modificar algunos valores en una columna específica.
print(sub_trabajo['P507'].dtype)
print (sub_trabajo['P507'].head())

object
0    4
1    2
2    2
3    5
4    2
Name: P507, dtype: object

In [191]:
sub_trabajo['P507'] = pd.to_numeric(sub_trabajo['P507'], errors='coerce').fillna(0).astype(int)

C:\Users\Eduio\AppData\Local\Temp\ipykernel_18132\2290393086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_trabajo['P507'] = pd.to_numeric(sub_trabajo['P507'], errors='coerce').fillna(0).astype(int)

In [192]:
sub_trabajo['P507'] = sub_trabajo['P507'].replace({
    0: "No responde / Missing",
    1: "Empleador o patrono",
    2: "Trabajador Independiente",
    3: "Empleado",
    4: "Obrero",
    5: "Trabajador Familiar No Remunerado",
    6: "Trabajador del Hogar",
    7: "Otro"
}).astype('category')

C:\Users\Eduio\AppData\Local\Temp\ipykernel_18132\3827090784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_trabajo['P507'] = sub_trabajo['P507'].replace({

# 4. Fusión de Datasets (Merging Datasets)

In [193]:
common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

In [194]:
# Verificar registros coincidentes entre ambas submuestras
merged_keys = data[common_columns].merge(sub_trabajo[common_columns], on=common_columns, how='inner')
print(f"Registros coincidentes en claves comunes: {len(merged_keys)}")

Registros coincidentes en claves comunes: 86654

In [195]:
# Realizamos el merge
df_merged = pd.merge(data, sub_trabajo, on=common_columns, how='inner')

# Mostrar resultado
display(df_merged.head())

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME,P501,P507,P513T
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,118.374542,165.623856,6618,0,1,Obrero,28
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,118.374542,112.328087,6618,0,1,Trabajador Independiente,78
2,2023,1,5030,11,11,1,10201,7,4,1,...,,,,118.374542,96.035370,6618,0,1,Trabajador Independiente,84
3,2023,1,5030,11,11,2,10201,7,4,2,...,,,,118.374542,86.868881,6618,0,1,Trabajador Familiar No Remunerado,84
4,2023,1,5030,11,11,3,10201,7,4,3,...,,,,118.374542,185.492355,6618,0,1,Trabajador Independiente,12

# 5. En el DataFrame resultante:

In [197]:
#Agrupamos los datos por una variable utilizando groupby()
df_merged.groupby("P507")["P513T"].value_counts().reset_index()

                     P507  P513T  count
0                Empleado     40   2109
1                Empleado     48   2056
2                Empleado     30    929
3                Empleado      0    479
4                Empleado     36    458
..                    ...    ...    ...
787  Trabajador del Hogar     79      0
788  Trabajador del Hogar     75      0
789  Trabajador del Hogar     73      0
790  Trabajador del Hogar     71      0
791  Trabajador del Hogar     31      0

[792 rows x 3 columns]

In [199]:
#Calcular un indicador estadístico relevante: Horas que trabajó en la semana según ocupación
resultado = df_merged.groupby('P507')['P513T'].mean().reset_index()

# Mostrar resultado
print("Promedio de horas de trabajo en la semana según ocupación:")
print(resultado)

Promedio de horas de trabajo en la semana según ocupación:
                                P507      P513T
0                           Empleado  40.488451
1                Empleador o patrono  43.024942
2              No responde / Missing   0.000000
3                             Obrero  40.516966
4                               Otro  17.841945
5  Trabajador Familiar No Remunerado  24.073292
6           Trabajador Independiente  35.825942
7               Trabajador del Hogar  40.776553